.name_cards{
    max-width: 20%;
    margin: 50px auto;
    padding: 2%;
    background-color:rgb(241, 97, 29);
    border-radius: 10px;
    opacity: 0.5;
    box-shadow: 1px 5px 5px brown;
  }

.name_cards:hover{
  opacity: 1;
}

  @media(max-width:600px){
    .name_cards{
      padding : 20%;
    }
  }
  
  


  